@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

body,td,th {
	margin: 0;
	padding: 0;
	display: none;
}

#menu_container {
	width: 430px;
	display: flex;
	margin-top: 100px;
	margin-left: 100px;
	flex-flow: column wrap;
}

#menu_items {
	margin: 0px;
	padding: 0px;
	width: 430px;
	color: #b3b3b3;
	font-size: 14pt;
	font-weight: 300;
	text-align: left;
	line-height: 60px;
	font-style: normal;
	list-style-type: none;
	font-family: "Oswald",sans-serif;
}

#menu_items li {
	height: 60px;
	letter-spacing: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

#menu_items li:nth-child(odd) {
	background-color: rgba(15,33,58,0.65);
}

#menu_items li:nth-child(even) {
	background-color: rgba(15,33,58,0.95);
}

.item_selected {
	background-color: #4182e2 !important;
	color: #fff;
}